* {
    margin: 0;
    padding: 0;
}
header {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #464646;
}

header a {
    margin: 10px;
    padding: 10px;
    background: #0072ff;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    transition: all .5s;
}
header a:hover{
    background: #328fff;
}
.active-link{
    background-color: #0037ff;
}